# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
env/

# Django-specific files
db.sqlite3
*.sqlite3
media/
staticfiles/
static/

# Ignore PostgreSQL database files
*.pgsql
*.sql
*.dump
*.bak
*.backup


# Ignore Django migrations (if you want to reset often)
**/migrations/*.py
!**/migrations/__init__.py  # Keep __init__.py to recognize the folder

# Ignore IDE/editor-specific files
.vscode/
.idea/


# Environment variables and secrets
.env
*.env
config/settings_local.py  # If you store sensitive settings separately

# Logs and debugging files
*.log
debug.log
*.swp  # Vim swap files
*.swo  # Vim swap files
*.DS_Store  # macOS hidden files

# Git-related
.git/
COMMIT_EDITMSG
.gitignore
